fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy
python-multipart
httpx
openai
dashscope
langchain
langchain-text-splitters
langchain-openai
langchain-community
pypdf
python-docx
pymilvus[milvus-lite]
milvus-lite[chinese]
jieba
bcrypt
pyjwt
